*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
li{
	list-style: none;
}
.header{
	background: rgba(245, 245, 245, 0.5) ;
	z-index: 1;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.315);
	position: absolute;
	top: 0;
	left: 0;
}

.header div {
	display:block;
}
.header .logo{
	float: left;
	color: white;
	font-size: 30px;
	font-weight: 600px;
	padding: 10px 5px;
}

.search {
	position: relative;
	height: 52px;
	width: 50%;
	background-color: rgba(252, 252, 252, 0.8);
	border-radius: 15px;
	margin-left: 200px;
	margin-right: 150px;
	border: solid 1px #000;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.315);
}
.search input{
	position: absolute;
	left: 20px;
	width: 85%;
	height: 100%;
	font-size: 22px;
	border-width: 0;
	color: #000;
	background: transparent;
	text-shadow: 2px 2px 5px rgba(97, 95, 95, 0.7);
}
.search input:focus{
	outline: none;
	border: none;
}
.search #searchBtn{
	position: absolute;
	top: 5px;
	right: 30px;
	height: 80%;
	background-color:  transparent;
	cursor: pointer;
	border: none;
	outline: none;
	border-left: inset 3.5px rgba(0, 0, 0, 0.15);
	padding-left: 30px;
}
.search #searchBtn i{
	font-size: 28px;
	text-align: center;
	color: rgba(0, 0, 0, 0.514);
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.contact {
	margin-top: 10px;
	float: left;
}
.contact div{
	color: #000;
	font-weight: 550;
	display: flex;
}
.contact p{
	color: #000;
	margin: 4px 0 5px 5px;
	margin-left: 5px;
	margin-top: 4px;
	font-weight: 200;
	font-size: 18px;
}


/*-------------------------------------*/

.slidershow{
    width: 100%;
    height: 100vh;
	overflow: hidden;
    background-image: url(../image/img_GenhDaDia/img01.jpg);
    background-size: 120%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
	transition: all 1s;
}

/* ------------------------------------------ */

.content{
	width: 100%;
	height: auto;
	display: flex;
	background-color: #E5E5E5;
}
.content .leftnav{
	width: 15%;
	height: 100vh;
	text-align: center;
}
.leftnav button{
	border: none;
	background-color: transparent;
	margin: 20px 0;
	cursor: pointer;
}
.content .details{
	width: 70%;
	background-color: #F4F9F9;
	position: relative;
	box-shadow: 0 -2px 2px -2px rgb(0 0 0), 0 2px 15px -5px rgb(0 0 0), 2px 0 5px -5px rgb(0 0 0);
	margin-bottom: 100px;	
}
.header-content{
	width: 100%;
	height: 129px;
	display: flex;
	position: relative;
	padding: 0 10px;
}
.header-content .header-left-content{
	position: absolute;
	top:10px;
	/* width: 50%; */
}
.header-left-content h1{
	font-size: 50px;
	font-weight: 600;
}
.header-left-content p{
	margin: 5px 0;
	color: rgba(0, 0, 0, 0.768)
}
.header-content .view-counter{
	width: 50%;
}
.view-counter h2{
	font-size: 48px;
	font-weight: 400;
	position: absolute;
	right: 10px;
	bottom: 0;
}

.detail-content{
	margin-top: 20px;
	display: flex;
	width: 98.5%;
}
.top-nav{
	width: calc(100%/5);
	height: 50px;
	text-align: center;
	background-color: #EBEDED;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	transition: all 0.5s;
	border-right: solid 2px rgba(0, 0, 0, 0.144);
	box-shadow: inset 0px -11px 10px -10px rgb(161, 160, 160); 
}
.top-nav>button{
	border: none;
	background-color: transparent;
	width: 100%;
	height: 100%;
	font-size: 18px;
}
.detail-content .scaleChoose{
	height: 58px;
	margin-top: -8px;
	background-color: #CCF2F4;
	box-shadow: -0.5px -3px 5px rgba(0, 0, 0, 0.5);
}
.detail-content .scaleChoose button{
	font-size: 24px;
	outline: none;
}
.details .content-block{
	padding: 10px 50px;
	width: calc(70vw - 2 * 5px);
	height: calc(100vh - 129px - (20px + 50px));
	align-items: center;
	box-shadow: 0 -2px 2px -2px rgb(0, 0, 0),
	0 2px 15px -5px rgb(0, 0, 0),
	2px 0 5px -5px rgb(0, 0, 0);
	background-color: #CCF2F4;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.details .inside-content{
	margin: auto;
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 5px;
	text-align: center;
}
.inside-content img{
	margin: 10px 0;
	width: 80%;
	height: auto;
}
.inside-content p{
	text-align: justify;
}
.addr-block img{
	border: solid 5px rgba(0, 0, 0, 0.623);
	border-radius: 50px;
}
.source {
	margin: 15px 55px;
}
.source p{
	float: left;
}
.line1{
	margin-left: 30%;
}
.icon {
	margin-left: 20%;
}
.icon button{
	float: left;
	width: 15%;
	height: 50px;
	border: none;
	background-color: transparent;
	
}
.view1 {
margin-left:  50px;
margin-top: 35px;
}
.icon div{
	float: left;
	margin: 10px;
	width: 25%;
}
.view2 {
	margin-left:  65px;
	margin-top: 35px;
}

.view3 {
	margin-left:  50px;
	margin-top: 35px;
}
.line2{
	margin-left: 21%;
}
.avatar {
	
	
	border-radius: 50%;
}
.xxx{
	margin-top: 50px;
	margin-left: 50px;

}
.search1 {
	position: relative;
	height: 52px;
	width: 70%;
	background-color: #ccf2f4;
	border-radius: 30px;
	margin-left: 150px;
	margin-right: 150px;
	border: 0;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.315);
	top: -55px;
	left: -20px;
}
.search1 input{
	position: absolute;
	left: 20px;
	width: 85%;
	height: 100%;
	font-size: 22px;
	border-width: 0;
	color: #000;
	background: transparent;
	text-shadow: 2px 2px 5px rgba(97, 95, 95, 0.7);
}
.search1 input:focus{
	outline: none;
	border: none;
}
.boxed {
	width: 90%;
	height: 200px;
	margin-left: 5%;
	top: -30px;
	background-color: white;
	position:relative;
	border-radius: 25px;
}
.avatar1 {
	margin-left: 10px;
	padding-top: 10px;
	width: 10%;
	float: left;
}
.boxed1 {
	position:relative;
	font-size:12px;
	background-color: #ccf2f4;
	border-radius: 25px;
	width: 30%;
	margin-left: 8%;
	top: 10px;
	padding: 10px;
}
.boxed1 h{
	float: left;
}
.boxed1 p{
	padding-top: 5px;
}
.avatar2 {
	margin-left: 10%;
	padding-top: 40px;
	width: 10%;
	float: left;
}
.boxed2 {
	position:relative;
	font-size:12px;
	background-color: #ccf2f4;
	border-radius: 25px;
	width: 40%;
	margin-left: 17%;
	top: 40px;
	padding: 10px;
}
.boxed2 h{
	float: left;
}
.boxed2 p{
	padding-top: 5px;
}
.footer {
	width: 100%;
	height: 280px;
	background-color: #ccf2f4;

} 
.end1 {
	height: 100%;
	width: 33%;
	float: left;
	margin: 0;
}
.end1 p{
	margin-top: 0px;
	color: #2b4f60;
	margin-left: 90px;
	font-size:18px;
}
.end1 img{
	height: 120px;
	width: 280px;
	margin: 20px 70px;
}
.end2{
	height: 100%;
	width: 40%;
	float: left;
}
.contact1 {
	font-weight: 600;
	margin-left: 100px;
	margin-top: 30px;
	font-size: 40px;
	color: #2b4f60;
	
}

.xxxx {
	margin-top: 30px;
	float: left;
}
.xxxx div{
	margin: 20px 90px;
	color: #2b4f60;
	font-weight: 550;
	display: flex;
}
.xxxx p{
	color: #2b4f60;
	margin: 4px 0 5px 5px;
	margin-left: 5px;
	margin-top: 4px;
	font-weight: 200;
	font-size: 20px;
}

.nine{
padding-top: 40px;
font-size: 40px;
color: #2b4f60;
}
.ninenine {
color: #2b4f60;
margin-top: 30px;
font-size: 40px;
}
.viewed {
	color: #2b4f60;
	font-size: 30px;
}
.onlined {
	color: #2b4f60;
	font-size: 30px;
}